<h1>{{ nav }}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Estado</th>
      <th scope="col">Rol</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of users_pie">
      <th scope="row">{{ client.id }}</th>
      <td>{{ client.name }}</td>
      <td>{{ client.lastname }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.status }}</td>
      <td>{{ client.role }}</td>
      <td><button type="button" class="btn btn-secondary" (click)="editar()">Editar</button></td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshUsers()">
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
  </select>
</div>
