<div class="container mt-5">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class = "row">
          <app-logo></app-logo>
        </div>
        <mdb-form-control class = "mt-3">
          <label mdbInput class="form-label" for="typeEmail">Correo : </label>
          <input #email mdbLabel type="email" id="typeEmail" class="form-control" />
        </mdb-form-control>
        <div class="form-outline mt-3">
          <label class="form-label" for="typePassword">Contraseña : </label>
          <input #password type="password" id="typePassword" class="form-control" />
        </div>
        <div id = "message"></div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-dark mt-5" type="button" (click)="iniciarSesion( email.value , password.value )">Inciar Sesion</button>
        </div>
      </div>
  </div>
</div>





